@import "tailwindcss";

@theme {
  --animate-progress: progress 2s ease-in-out infinite;

  @keyframes progress {
    0% { transform: scaleX(0); }
    50% { transform: scaleX(0.7); }
    100% { transform: scaleX(1); }
  }
}
